.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header button {
  position: absolute;
  left: 10px;
  top: 0;
}

.Header svg {
  fill: #BDB3E6;
  width: 30px;
  height: 30px;
}

.Title {
  font-weight: 500;
  font-size: 30px;
  color: #BDB3E6;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}